{% extends 'app/base.html' %}
{% load static %}
{% block title %} Xiaomi {% endblock title %}

{% block main-content %}
<div class="container">

   <div class="text-center my-5">
      <h1>Xiaomi products</h1>
      <hr />
   </div>

   <div class="row">
      {% for product in products %}
      <div class="col-md-2 col-6 mb-4">
         <div class="card">
            <img src="{% static 'images/smartphone.png' %}" class="card-img-top" style="padding: 10px;">
            <div class="card-body">
                <a href="{% url 'product_details' model=product.model %}"><h5 class="card-title" style="height: 5em; overflow: hidden;">{{ product.model }}</h5></a>
               <p class="card-text">Price: {{ product.price }} RUB</p>
               <a href="#" class="btn btn-primary">Add to Cart</a>
               <a href="{% url 'like_product' model=product.model%}" class="btn btn-outline-danger like-button">
                   <i class="fas fa-heart"></i>
               </a>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>

   <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          {% if products.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                      <span aria-hidden="true">&laquo;&laquo;</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          {% endif %}

          {% for i in products.paginator.page_range %}
              <li class="page-item {% if products.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
          {% endfor %}

          {% if products.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ products.paginator.num_pages }}" aria-label="Last">
                      <span aria-hidden="true">&raquo;&raquo;</span>
                  </a>
              </li>
          {% endif %}
      </ul>
  </nav>

</div>
<br><br>
{% endblock main-content %}
